.topbar {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.logo {
    height: 2rem;
}

.title {
    color: #00A9FF;
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    border-bottom: 2px dotted #CDF5FD;
}